* {
    padding: 0;
    margin: 0;
}

.no-gutter{
    padding: 0;
    margin: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat

}

.calendly-inline-widget {
    min-width:320px;
    height:100px;
    scroll-behavior: none;
}
